{% extends "_layout" %} 

{% block content %}

    <div class="head">
        <h1>Hej! Welcome to Ekia</h1>
    </div>
    <h2 class="popular">Right now at Ekia</h2>
    <section class="all-furniture">
        {% set entries = craft.entries().section('home') %} 
        {% for entry in entries %} 

            <article {% for category in entry.furnitureCategories %}
                data-{{category}}
            {% endfor %} class="furniture">
                <div class="article">
                    <img src="{{ entry.bannerImage.one().url }}" alt="">
                    <div>
                        <h2><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
                        <p>€{{ entry.price }}</p>
                        {% for category in entry.furnitureCategories %}
                            <span>{{ category }}</span>
                        {% endfor %} 
                    </div>
                </div>      
            </article> 

        {% endfor %} 
    </section>

{% endblock %}
